html, body {
  background-color: #f6fbff;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.reset {
  transform: translate(-50%, 0);
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  position: absolute;
  color: #f6fbff;
  background-color: #ff392e;
  cursor: pointer;
  left: 50%;
  top: 50%;
}
@media screen and (orientation: landscape) {
  .reset {
    margin-top: 35vh;
    padding: 2vh;
    font-size: 2vh;
  }
}
@media screen and (orientation: portrait) {
  .reset {
    margin-top: 35vw;
    padding: 2vw;
    font-size: 2vw;
  }
}

.checkers {
  position: absolute;
}

.board {
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 0;
  position: absolute;
  left: 50%;
  top: 50%;
}
@media screen and (orientation: landscape) {
  .board {
    box-shadow: 0 0 0 2vh #f5e062;
  }
}
@media screen and (orientation: portrait) {
  .board {
    box-shadow: 0 0 0 2vw #f5e062;
  }
}

.checker {
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
}
@media screen and (orientation: landscape) {
  .checker {
    box-shadow: 0 -0.25vh 0 0.15vh rgba(0, 0, 0, 0.25) inset;
    margin: 0.5vh 0 0 0.5vh;
    width: 9vh;
    height: 9vh;
  }
}
@media screen and (orientation: portrait) {
  .checker {
    box-shadow: 0 -0.25vw 0 0.15vw rgba(0, 0, 0, 0.25) inset;
    margin: 0.5vw 0 0 0.5vw;
    width: 9vw;
    height: 9vw;
  }
}
.checker.red {
  background-color: #ff392e;
}
.checker.black {
  background-color: #464748;
}

.column {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.column:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.column li {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: block;
}
.column li:before {
  content: "";
  box-shadow: 0 0 0 4vw #f5e062;
  border-radius: 50%;
  position: absolute;
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10%;
}
@media screen and (orientation: landscape) {
  .column {
    width: 10vh;
  }
  .column li {
    width: 10vh;
    height: 10vh;
  }
}
@media screen and (orientation: portrait) {
  .column {
    width: 10vw;
  }
  .column li {
    width: 10vw;
    height: 10vw;
  }
}